@import "bootstrap-icons/font/bootstrap-icons.css";

@import "element-ui/lib/theme-chalk/button.css";
@import "element-ui/lib/theme-chalk/menu.css";
@import "element-ui/lib/theme-chalk/icon.css";
@import "element-ui/lib/theme-chalk/tooltip.css";
@import "element-ui/lib/theme-chalk/divider.css";
@import "element-ui/lib/theme-chalk/input.css";
@import "element-ui/lib/theme-chalk/input-number.css";
@import "element-ui/lib/theme-chalk/autocomplete.css";
@import "element-ui/lib/theme-chalk/breadcrumb.css";
@import "element-ui/lib/theme-chalk/image.css";
@import "element-ui/lib/theme-chalk/notification.css";
@import "element-ui/lib/theme-chalk/select.css";
@import "element-ui/lib/theme-chalk/upload.css";
@import "element-ui/lib/theme-chalk/pagination.css";
@import "element-ui/lib/theme-chalk/tabs.css";
@import "element-ui/lib/theme-chalk/popover.css";

html,
body {
  background: #17171A !important;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important; */
  /* font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif !important; */
  letter-spacing: 0.1rem;
  color: #fff;
  overflow-x: hidden !important;
  cursor: none;
}

/* @font-face {
  font-family: "Calibre-Medium";
  src: local("Calibre-Medium"), local("Calibre-Medium"),
    url("../fonts/Calibre-Medium.woff2") format("woff2");
  font-style: normal;
} */

/* @font-face {
  font-family: "Prointro";
  src: local("Prointro"), local("Prointro"),
    url("../fonts/Intro-Light.woff2") format("woff2");
  font-style: normal;
} */
/* @font-face {
  font-family: "Prointro-Bold";
  src: local("Prointro"), local("Prointro"),
    url("../fonts/Intro-Bold.woff2") format("woff2");
  font-style: normal;
} */

/* @font-face {
  font-family: "Circe";
  src: local("Circe-Regular"), local("Circe-Regular"),
    url("../fonts/Circe-Regular.ttf") format("truetype");
  font-style: normal;
} */

@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"), local("Montserrat-Light"),
    url("../fonts/Montserrat-Light.ttf") format("truetype");
  /* font-weight: 1000; */
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  /* font-weight: 1000; */
  font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}




